{% extends 'default.html' %}

{% load custom_filters %}
{% load custom_tags %}

{% block title %} All posts {% endblock title %}

{% block content %}
<h2>Posts list:</h2>
<hr>
<form action="" method="get">
    {{filterset.form.as_p}}
    <input type="submit" value="Search" />
</form>
{% if posts %}
    <h6>Number of posts: {{ posts|length }}</h6>
    <hr>
    <table>
        <tr>
            <td>Title</td>
            <td>Publication date</td>
            <td>Preview</td>
        </tr>
        {% for i in posts %}
            <tr>
                <td>{{ i.title|censor }}</td>
                <td>{{ i.created_time|date:'d M Y' }}</td>
                <td>{{ i.text|truncatewords:20|censor }}</td>
            </tr>
        {% endfor %}
    </table>
    {% if page_obj.has_previous %}
        <a href="?{% url_replace page=1 %}">1</a>
        {% if page_obj.previous_page_number > 1 %}
            . . .
            <a href="?{% url_replace page=page_obj.previous_page_number %}">{{page_obj.previous_page_number}}</a>
        {% endif %}
    {% endif %}

    {{ page_obj.number }}

    {% if page_obj.has_next %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">{{page_obj.next_page_number}}</a>
        {% if page_obj.next_page_number != paginator.num_pages %}
            . . .
            <a href="?{% url_replace page=paginator.num_pages %}">{{paginator.num_pages}}</a>
        {% endif %}
    {% endif %}
{% else %}
    <p>No posts</p>
{% endif %}

{% endblock content %}